---
import { Text } from "./Text";

const variants = {
	centered: "centered",
	left: "left",
}

export type HeroVariant = keyof typeof variants;

export interface ColorSchemeImages {
	dark: string;
	light: string;
}

export interface HeroImage {
	alt: string;
	src: string | ColorSchemeImages;
}

export interface Props {
	class?: string | undefined;
	image: HeroImage;
	primary: string;
	variant: HeroVariant;
}

const { class: className, image, primary } = Astro.props;
const src =
	typeof image.src === "string" ? { dark: image.src, light: image.src } : image.src;
---

<div class:list={["hero", className, variants[Astro.props.variant]]}>
	<div class="half first">
		<picture>
			<source srcset={src.dark} media="(prefers-color-scheme: dark)" />
			<source srcset={src.light} media="(prefers-color-scheme: light)" />
			<img alt={image.alt} src={src.light} />
		</picture>
	</div>
	<div class="half second">
		<Text as="h1" fontSize="title" fontWeight="bolder">
			{primary}
		</Text>
		<slot />
	</div>
</div>

<style>
	.hero {
		--imageSize: 10rem;
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin: 1rem auto 4rem;
		padding: 0 1rem;
		position: relative;
		text-align: center;
	}

	.hero.centered {
		--h1LineHeight: 0.75;
		max-width: 100%;
		margin: 1rem auto 4rem;
		width: var(--widthFull);
	}

	.hero.left {
		--h1LineHeight: 0.9;
		margin: 2rem auto 0;
		max-width: var(--widthSlim);
	}

	h1 {
		color: var(--colorForegroundExtra);
		line-height: var(--h1LineHeight);
		text-shadow: var(--textShadow);
	}

	img {
		user-select: none;
		height: var(--imageSize);
		width: var(--imageSize);
	}

	@media (min-width: 700px) {
		.hero {
			flex-direction: row;
			gap: 2.5rem;
			height: 35vh;
			margin: clamp(1rem, 5vh, 7rem) 0 clamp(2rem, 7vh, 10rem);
			max-height: 20rem;
			min-height: calc(var(--imageSize) + 1rem);
			padding: 0;
			text-align: left;
		}

		.half {
			position: relative;
		}

		.half.first {
			display: flex;
			justify-content: flex-end;
			max-height: initial;
		}

		.centered .half.first {
			width: 45%;
		}

		.half.second {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
		}

		.centered .half.second {
			width: 55%;
		}

		picture {
			transform: none;
		}

		img {
			aspect-ratio: 1;
			border-radius: 100%;
			box-shadow: 0 7px 7px 3px var(--colorSubtle);
		}

		.centered img {
			height: 256px;
			max-height: 100%;
			max-width: 100%;
			width: 256px;
		}
	}
</style>
